// @font-face {
//   font-family: 'Avenir';
//   src: url('../fonts/AvenirBook.eot');
//   src: url('../fonts/AvenirBook.eot?#iefix') format('embedded-opentype'),
      
//       url('../fonts/AvenirBook.woff') format('woff'),
//       url('../fonts/AvenirBook.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: 'Beyond Infinity';
  src: url('../fonts/beyond-infinity.eot');
  src: url('../fonts/beyond-infinity.eot?#iefix') format('embedded-opentype'),
      
      url('../fonts/beyond-infinity.woff') format('woff'),
      url('../fonts/beyond-infinity.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  line-height: 100%;
  letter-spacing: -0.64px;
}






